@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.section {
  width: 100%;
  padding-top: 40px;
  margin-bottom: 30px;
  font-family: 'Rubik', sans-serif;
}

.heads {
  margin: auto;
  width: 800px;
  background: #3aafa9;
  box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.24);
}

.profile {
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
}

.user {
  width: 50%;
  padding: 0 0 0 30px;
}

.division {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
}

.head {
  width: 300px;
  font-family: 'Rubik', sans-serif;
  color: #fff;
}

.body {
  width: 255px;
  font-size: 16px;
  border: none;
  background: #fff;
  padding: 0.3rem;
  border-radius: 4px;
  font-family: 'Karla', sans-serif;
}

.main {
  width: 50%;
  display: flex;
  margin: 30px;
  margin-bottom: -10px;
  padding: 30px;
  padding-bottom: 0rem;
}

.image img {
  width: 170px;
  height: 170px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.26);
}

.picture {
  text-align: center;
  padding-top: 15px;
}

.part {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
}

.switch {
  width: 250px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.center {
  margin: 0 auto;
  width: 250px;
}

.info {
  padding-bottom: 10px;
}

.extend {
  grid-column: 1/3;
}

.extend .body {
  width: 94%;
}

.image {
  position: relative;
}

.file {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.fileInput {
  display: none;
}

.fileButton {
  border: 1px solid green;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  padding: 0;
  color: white;
  height: 40px;
  width: 40px;
  background-color: green;
  box-shadow: 0px 0px 3px green;
}

.Button {
  width: 75px;
  height: 40px;
  color: #fff;
  padding: 5px 5px;
  text-align: center;
  margin: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.26);
}

.fileButton:hover {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.grid {
  display: flex;
  gap: 230px;
}

[datatitle] {
  position: relative;
  cursor: pointer;
}

[datatitle]:hover::before {
  content: attr(dataTitle);
  position: absolute;
  right: 39px;
  top: -1px;
  height: 40px;
  display: inline-block;
  padding: 0px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 0px 3px #000;
  background: #000;
  color: #fff;
  font-size: 12px;
}

[datatitle]:hover::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -10px;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;
  border-bottom: 8px solid #000;
}

@media screen and (max-width: 900px) {
  .heads {
    width: 650px;
  }

  .division {
    column-gap: 0;
  }

  .part {
    column-gap: 0;
  }
  .extend h3 {
    font-size: 20px;
  }
  .user {
    padding: 0;
  }
  .grid {
    gap: 150px;
  }
}

@media screen and (max-width: 700px) {
  .heads {
    width: 600px;
  }

  .main {
    padding: 5px;
  }
  .extend h3 {
    margin-top: 1rem;
  }
  .grid {
    gap: 150px;
  }
}

@media screen and (max-width: 650px) {
  .section {
    padding-top: 0px;
  }
  .heads {
    width: 400px;
  }

  .part,
  .division {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1rem;
  }

  .main {
    margin-top: -30px;
  }

  .extend {
    grid-column: 1/2;
  }

  .extend .body {
    width: 255px;
  }

  .main {
    padding: 50px;
    margin-bottom: -5rem;
  }

  .profile {
    font-size: 40px;
  }

  .image {
    position: relative;
    padding-left: 20px;
  }

  .file {
    right: 110px;
  }

  .info {
    position: relative;
  }

  .picture {
    padding-right: 100px;
  }

  .grid {
    flex-direction: column;
    gap: 0px;
  }
}

@media screen and (max-width: 450px) {
  .heads {
    width: 350px;
  }

  .main {
    padding: 0;
  }

  .image {
    position: relative;
    margin-top: 20px;
  }

  .info {
    position: relative;
  }

  .main {
    padding: 30px;
  }
  .extend h3 {
    margin-top: 1rem;
  }

  .file {
    right: -115px;
  }
}

@media screen and (max-width: 400px) {
  .heads {
    width: 300px;
  }
  .division {
    display: flex;
    flex-direction: column;
  }
  .main {
    padding: 0;
    margin-bottom: -2rem;
  }

  .image {
    position: relative;
    margin-top: 35px;
  }

  .profile {
    padding: 15px;
    font-size: 35px;
  }
}
