@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  text-decoration: none !important;
}
.bg-login {
  background-color: rgba(185, 185, 185, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
}

.login {
  display: flex;
  color: #ffffff;
  background: #3aa9af;
  width: 900px;
  box-shadow: 5px 6px 1.5px rgba(0, 0, 0, 0.3);
}

.forget {
  display: flex;
  color: #ffffff;
  background: #3aa9af;
  width: 400px;
  box-shadow: 5px 6px 1.5px rgba(0, 0, 0, 0.3);
}

.bg-login {
  margin-top: 2rem;
}

.bg-login .imgLogin {
  width: 500px;
}

.form-login {
  padding: 2.5rem 5rem 5rem 5rem;
}

.form-login h1 {
  margin: 1rem 0rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
}

.form-login h2 {
  font-family: 'Rubik', sans-serif;
}

.form-login h5 {
  font-family: 'Rubik', sans-serif;
}

.form_group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form_input {
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  width: 220px;
  box-shadow: 3px 5px 3px rgba(75, 75, 75, 0.3);
  margin-bottom: auto;
  border: none;
  font-family: 'Karla', sans-serif;
}

.form_text {
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  box-shadow: 3px 5px 3px rgba(75, 75, 75, 0.3);
  margin-bottom: auto;
}

.gender {
  margin-right: 0.5rem;
}

.gender:not(:first-child) {
  margin-left: 1rem;
}

label {
  font-family: 'Rubik', sans-serif;
  font-size: 18px !important;
  font-weight: 500;
}

input {
  font-family: 'Karla', sans-serif;
}

.bg-login button {
  padding: 0.6rem;
}

.form_group h6 {
  color: rgb(255, 205, 205);
}

.link {
  color: #ffffff !important;
  text-decoration: none !important;
}

@media only screen and (max-width: 1400px) {
  .bg-login {
    padding: 1.5rem;
  }
  .bg-login-2 {
    padding: 2rem;
    margin-top: 0rem;
  }
  .login {
    width: 750px;
  }
  .forget {
    width: 320px;
  }

  .bg-login .imgLogin {
    width: 50% !important;
  }
  .form-login {
    padding: 2rem 3rem 3rem 3rem;
  }
}

@media only screen and (max-width: 1200px) {
  .bg-login {
    padding: 1.5rem;
  }

  .login {
    width: 600px;
  }
  .bg-login .imgLogin {
    width: 50%;
  }
  .inputs {
    column-gap: 2.5rem;
  }
  .form-login {
    padding: 2rem 3rem 3rem 3rem;
  }
}

@media only screen and (max-width: 1000px) {
  .login {
    width: 600px;
  }
  .forget {
    width: 300px;
  }
  .bg-login .imgLogin {
    width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .login {
    width: 300px;
  }
  .bg-login {
    padding: 1rem;
    margin-top: 2rem;
  }
  label {
    font-size: 1rem;
  }
  .form_input {
    width: 200px;
  }
  .bg-login .imgLogin {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .inputs {
    grid-template-columns: 1fr;
  }
  .form-login h1 {
    margin: 0rem 0rem 1rem 0rem;
    font-size: 98%;
  }
}

@media only screen and (max-width: 450px) {
  .form-login h1 {
    margin: 0rem 0rem 1rem 0rem;
    font-size: 90%;
  }
}

@media only screen and (max-width: 400px) {
  .login {
    width: 290px;
  }
}
