@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.loadMore {
  text-align: center;
  text-transform: uppercase;
}

.loadMore a:visited,
.loadMore a:link {
  color: #feffff !important;
  text-decoration: none;
}

.loadMore .button {
  cursor: pointer;
  transition: 0.4s ease-in;
}

.loadMore .button .hoverLine:hover {
  border-bottom: 0.2rem solid #17252a;
}

.loadMore .button .buttonText {
  font-size: 1.5rem;
  font-weight: bold;
}
.loadMore .button .rarrow {
  margin-left: 1rem;
  margin-right: 0rem;
  font-size: 1.5rem;
}

@media only screen and (max-width: 700px) {
  .loadMore .button {
    padding: 0rem;
  }

  .loadMore .button .buttonText {
    font-size: 1.3rem;
  }
  .loadMore .button .rarrow {
    font-size: 1.3rem;
  }
}
