.section-conf {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  color: white;
  background: #3aafa9;
  background-size: cover;
  padding: 2rem;
  margin: 1rem;
  display: flex;
  width: 1190px;
  margin-top: 4rem;
}

.section-conf .reg_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  grid-template-areas: '. .' '. .' '. .' 'dec dec';
}

.section-conf .reg_txt {
  padding: 0.5rem;
  border-radius: 3px;
  margin: 0.1rem;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.26);
}

.section-conf .reg_text {
  grid-area: dec;
}

.next {
  margin-top: 2rem;
}

.btn-primary {
  color: #ffffff !important;
  background-color: rgba(0, 0, 0, 0.26) !important;
  border: 0 solid transparent !important;
}

.link {
  color: #ffffff !important;
  text-decoration: none !important;
}

.section-conf .reg-img {
  width: 50%;
}

.section-conf form {
  margin-left: 2rem;
}

.section-conf .form_reg-group {
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
}

.section-conf .reg-input {
  padding: 0.5rem;
  border-radius: 3px;
  margin: 0.1rem;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.377);
  width: 250px;
  border: none;
  font-family: 'Karla', sans-serif;
}

.section-conf h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 2rem;
}

.btn-primary:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.can {
  margin-top: 0.75rem !important;
}

@media screen and (max-width: 1275px) {
  .section-conf {
    width: 650px;
  }
  .reg-img {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .section-conf {
    width: 550px;
  }
  .section-conf .reg-input {
    width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .section-conf {
    width: 330px;
    margin-top: 14rem;
  }
  .section-conf .reg_grid {
    grid-template-columns: 1fr;
    grid-template-areas: '.' '.' '.' '.' '.' '.' 'dec' 'reg';
  }
  .reg {
    grid-area: reg;
  }
  .reg_txt {
    width: 200px;
  }
  .section-conf h2 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 400px) {
  .section-conf {
    margin: 14rem 0rem;
    padding: 2rem 0rem;
    width: 280px;
  }
}
