.completed {
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.eventList {
	margin: 2rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: 5rem;
	column-gap: 5rem;
}

.title {
	text-align: center;
	font-size: 2rem;
}

.left {
	padding-right: 70px;
}

@media only screen and (max-width: 1500px) {
	.completed .eventList {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 1300px) {
	.completed .left {
		padding-right: 0px;
	}
}

@media only screen and (max-width: 900px) {
	.completed .eventList {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 700px) {
	.completed .left {
		margin: 0 auto;
	}

	.title {
		font-size: 1.7rem;
	}
}

@media only screen and (max-width: 650px) {
	.title {
		font-size: 1.3rem;
	}

	.completed .eventList {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 450px) {
	.eventList {
		margin: 2rem 3rem;
	}
}
