.section-about {
  margin-top: 3rem;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.61fr;
  grid-template-areas: 'about about';
  background-color: whitesmoke;
}

.section-comp {
  margin-top: 3rem;
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 0.1fr 0.6fr 1fr;
  background-color: whitesmoke;
}

.title {
  text-transform: uppercase;
}

h2 {
  padding-top: 2rem;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  grid-area: about;
}

/* .upLeft-card {
  background-color: burlywood;
} */

.card-1 {
  justify-items: center;
  margin-top: 3rem;
  margin-left: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 5rem;
}
.card-2 {
  justify-items: center;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 5rem;
}

.upLeft-card .upLeft-title {
  text-align: center;
  margin-top: 2rem;
  margin-left: 6rem;
  font-size: 2rem;
}

.comp-title {
  text-align: center;
  margin-top: 2rem;
  margin-left: 0rem;
  font-size: 2rem;
}

.upLeft-card .card-4 {
  width: 10rem;
  margin: 2rem auto;
}
.upLeft-card .card-4 .cus-button:hover {
  border-bottom: 0.2rem solid #9b7dfb;
  cursor: pointer;
  transition: 0.1s ease-in;
}
.upLeft-card .card-4 .cus-button .cus-button-text {
  font-size: 1.5rem;
  font-weight: bold;
}
.upLeft-card .card-4 .cus-button .cus-button-rarrow {
  margin-left: 1rem;
  margin-right: 0rem;
  font-size: 1.8rem;
}

.upRight-img {
  margin-top: 4rem;
  width: auto;
  background-image: url('../img/bg-2.png');
  background-position: center;
  background-size: cover;
  height: 30rem;
  clip-path: circle(34% at 50% 50%);
}

.compLeft-img {
  margin-top: 4rem;
  width: auto;
  background-image: url('../img/bg-3.png');
  background-position: center;
  background-size: cover;
  height: 30rem;
  clip-path: circle(34% at 50% 50%);
}

@media (max-width: 1200px) {
  .section-about {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'about';
    justify-content: center;
  }
  .section-comp {
    padding-top: 4rem;
    height: 167vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'aboutdiv';
    justify-content: center;
  }

  .upRight-img {
    margin-top: 5rem;
    clip-path: circle(25% at 50% 50%);
  }

  .compLeft-img {
    margin-top: 5rem;
    clip-path: circle(25% at 50% 50%);
  }

  .upLeft-card .upLeft-title {
    margin-bottom: 2.5rem;
    margin-left: 0rem;
  }

  .comp-title {
    margin-bottom: 2.5rem;
  }
  .card-1 {
    margin: 0 10rem;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    grid-template-rows: 1fr;
    grid-row-gap: 5rem;
  }

  .card-2 {
    margin: 0 9rem;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
    grid-template-rows: 1fr;
    grid-row-gap: 5rem;
  }
}

@media (max-width: 900px) {
  .section-about {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'about';
    justify-content: center;
  }

  .section-comp {
    margin-top: -10rem;
    height: 195vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.6fr;
    grid-template-areas: 'about';
    justify-content: center;
  }

  .upRight-img {
    margin-top: 5rem;
    clip-path: circle(30% at 50% 50%);
  }

  .compLeft-img {
    margin-top: 5rem;
    clip-path: circle(30% at 50% 50%);
  }

  .card-1 {
    margin: 0 6rem;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    grid-template-rows: 1fr;
    grid-row-gap: 5rem;
  }

  .card-2 {
    margin: 0 9rem;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    grid-template-rows: 1fr;
    grid-row-gap: 5rem;
  }

  .upLeft-card .upLeft-title {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    margin-left: 0rem;
  }

  .comp-title {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }

  .upLeft-card .card-4 {
    height: 5rem;
    width: 10rem;
  }
}

@media (max-width: 700px) {
  .section-about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.6fr;
    grid-template-areas: 'about';
  }

  .section-comp {
    margin-top: -13rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.6fr;
    grid-template-areas: 'about';
  }

  .upRight {
    transform: scale(50%);
  }

  .upRight-img {
    clip-path: circle(30% at 50% 50%);
  }

  .card-1 {
    margin: 0 1rem;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    grid-template-rows: 1fr;
    grid-row-gap: 5rem;
  }

  .card-2 {
    margin: 0 3rem;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    grid-template-rows: 1fr;
    grid-row-gap: 5rem;
  }

  .upLeft-card .upLeft-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .upLeft-card .card-4 {
    height: 5rem;
    width: 10rem;
  }
}

@media (max-width: 600px) {
  .section-comp {
    height: 295vh;
  }
  .card-1 {
    margin: 0 1rem;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 5rem;
    grid-template-rows: 1fr;
    grid-row-gap: 5rem;
  }

  .card-2 {
    margin: 0 -1rem;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 5rem;
    grid-template-rows: 1fr;
    grid-row-gap: 5rem;
  }

  .upLeft-card .upLeft-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .upLeft-card .card-4 {
    margin-top: 5rem;
    height: 5rem;
    width: 10rem;
  }
}
