.footer {
  padding: 1rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #777;
  color: white;
  display: flex;
}

.copyright {
  width: 50%;
  text-align: center;
}

.social {
  display: flex;
  width: 50%;
  text-align: center;
}

.social-footer {
  display: flex;
}

.social i {
  width: 25px;
  height: 25px;
  background-color: white;
  color: #777;
  border-radius: 50%;
  padding-top: 6px;
}

.social p {
  color: white;
  padding-top: 3px;
  padding-bottom: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 900px) {
  .footer {
    display: flex;
    padding: 1.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .copyright,
  .social {
    padding: 1rem;
    margin: 0 auto;
    width: auto;
  }

  .social i {
    width: 25px;
    height: 25px;
    background-color: white;
    color: #777;
    border-radius: 50%;
    padding-top: 6px;
  }

  .social p {
    color: white;
    padding-top: 3px;
    padding-bottom: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 450px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .copyright,
  .social {
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
    width: auto;
  }

  .social {
    flex-direction: column;
  }

  .social i {
    width: 25px;
    height: 25px;
    background-color: white;
    color: #777;
    border-radius: 50%;
    padding-top: 6px;
  }

  .social p {
    color: white;
    padding-top: 3px;
    padding-bottom: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 390px) {
  .footer {
    padding: 1rem;
  }

  .social {
    font-size: 75%;
  }

  .social i {
    width: 25px;
    height: 25px;
    background-color: white;
    color: #777;
    border-radius: 50%;
    padding-top: 6px;
  }

  .social p {
    color: white;
    padding-top: 6px;
    padding-bottom: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.9rem;
  }
}
