.view {
  margin-top: 100px auto;
  padding: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5rem;
  column-gap: 5rem;
}

.full-view .grad {
  background-image: linear-gradient(
    to bottom right,
    rgb(153, 0, 255),
    rgb(255, 0, 93)
  );
  width: auto;
  border-radius: 10px 10px 0 0;
}

.full-view .rect {
  width: 360px;
  background-color: #ffffff;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  box-shadow: 4px 3px 2px 0.14px rgba(0, 0, 0, 0.3);
}

.full-view .cus-card {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #121212;
}
.full-view .cus-card .name {
  color: #ffffff;
  font-size: 25px;
  margin-top: 17px;
  margin-left: 15px;
}

.full-view .cus-card .description {
  color: #414141;
  margin-top: 10px;
  margin-left: 15px;
  font-weight: 400;
}

.full-view .cus-card .details {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  margin: 0rem;
  padding: 0.5rem;
  font-size: 18px;
  color: #6e4166;
}

@media (max-width: 1300px) {
  .view {
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
    column-gap: 2rem;
    padding: 6rem;
  }
  .full-view .rect {
    padding-right: 0rem;
  }
}

@media (max-width: 910px) {
  .view {
    row-gap: 2.5rem;
    column-gap: 1.5rem;
  }

  .full-view .rect {
    width: 300px;
  }
}
@media (max-width: 800px) {
  .full-view .rect {
    width: 250px;
  }

  .full-view .pad {
    padding-right: 1rem;
  }
}

@media (max-width: 700px) {
  .view {
    grid-template-columns: 1fr;
  }
  .full-view .rect {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .full-view .rect {
    width: 300px;
  }
}

@media (max-width: 500px) {
  .view {
    padding: 4rem 0 0 2rem;
  }
  .full-view .rect {
    width: 300px;
  }
}
