.section-home {
  margin-top: 5rem;
  width: 100%;
  background-color: whitesmoke;
  margin-bottom: 0rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  text-align: center;
  padding-left: 30px;
}

.header-image {
  width: 50%;
}

.header-image img {
  width: 100%;
}

.header-primary {
  color: #9b7dfb;
  font-size: 3.6rem;
  font-style: italic;
  margin-bottom: 3rem;
  text-align: center;
}

.section-home p {
  padding-top: 1rem;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .header-primary {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 900px) {
  .header-image {
    width: 70%;
  }
  .header-primary {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    flex-direction: column;
  }
  .header-image {
    width: 98%;
  }
  .header-content {
    padding-left: 0px;
    padding-top: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .header-primary {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .section-home p {
    font-size: 0.6rem;
  }
}
