.navbar {
  color: #ffffff !important;
  background-image: linear-gradient(to right bottom, #9b7dfb, rgb(255, 0, 255));
}

.navbar-dark .navbar-toggler {
  border-width: 0.09rem;
  border-color: transparent !important;
}

.navbar-dark img {
  margin-left: 0.6rem;
}

.navbar-dark .fa-bars {
  font-size: 1.5rem;
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255) !important;
}

:focus {
  outline: transparent !important;
}

.navbar-dark ul {
  text-transform: uppercase;
}

.navbar-dark ul li {
  margin-right: 1rem;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

@media only screen and (max-width: 980px) {
  .navbar-dark ul li {
    text-align: center;
    padding: 0.5rem;
  }

  .navbar-dark .navbar-nav {
    margin-top: 1rem;
    border-top: 2px solid white;
  }
}
