.stall-bg {
  width: 400px;
  padding: 1.5rem;
  /* height: 100px; */
  background-color: #158467;
  color: #FFFFDD;
  border-radius: 10px;

  
}
.product-name{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5rem;
    

}
.product-color{
    background-color: #F6F5F5;
    color: #3C2C3E;
    /* margin-left: 1rem;
    margin: 0.5rem;*/
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 15px;
}
.product-bg{
    width: 200px;
    
}
.product-field{
    width: 200px;
    
}
.stall-bg h5{
    /* margin: 0.5rem; */
    /* padding: 0.5rem; */
    font-size: 15px ;
}
.product-desc{
    display:flex;
    flex-direction: column;
    width: 306px;
}
.product-value{
    width: 200px;
}